<!DOCTYPE html>
<html>
<head>
	<title>Kshitij Dhyani</title>
	<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="\css\home_css.css">
	<!-- CSS RESETTER -->
		<link rel="stylesheet" type="text/css" href="\css\css_resetter.css">

	<!-- GRID DEBUGGER -->
		<!-- <link rel="stylesheet" type="text/css" href="\css\grid_debugger.css">
 -->
	<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- JAVASCRIPT -->
		<script type="text/javascript" src="\js\index_js.js"></script>

	<!-- JQUERY -->
		<script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous"></script>
</head>
<body>
	<div id="home_page_nav_bar" class="row">
		<span id="decorations_of_by_sort_sort">Logout</span>
	</div>
	<div id="box_for_search_bar" class="row">
		<form id="search_box_form">
			<input id="search_box" placeholder="Search" type="text" name="">
		</form>
	</div>
	<div id="box_for_sort_options" class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"><span id="decorations_of_by_sort_sort">Sort</span></div>
		<div class="col-lg-1"><span id="decorations_of_by_name_sort">By name</span></div>
		<div class="col-lg-1"><span id="decorations_of_by_year_sort">By year</span></div>
		<div class="col-lg-1"><span id="decorations_of_by_rating_sort">By rating</span></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
	</div>
	<div id="box_for_all the cards">

		<% for(var i =0 ; i < list_of_movies.Sheet1.length ; i++ ) { %>

			<div class="row" >
				<div class="col-lg-4">
					<div class="card" style="width: 18rem;">
					  <img src="..." class="card-img-top" alt="...">
					  <div class="card-body">
					    <h5 class="card-title">list_of_movies.length</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				</div>
				<div class="col-lg-4">
					
					<div class="card" style="width: 18rem;">
					  <img src="..." class="card-img-top" alt="...">
					  <div class="card-body">
					    <h5 class="card-title">list_of_movies.length</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>

				</div>
				<div class="col-lg-4">
					
					<div class="card" style="width: 18rem;">
					  <img src="..." class="card-img-top" alt="...">
					  <div class="card-body">
					    <h5 class="card-title">list_of_movies.length</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>

				</div>
			</div>

			

		<% } %>
	</div>
</body>
</html>