<!DOCTYPE html>
<html>
<head>
	<title>Kshitij Dhyani</title>
	<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\uni_internship_project\public\css\home_css.css">
	<!-- CSS RESETTER -->
		<link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\uni_internship_project\public\css\css_resetter.css">

	<!-- GRID DEBUGGER -->
		<!-- <link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\uni_internship_project\public\css\grid_debugger.css"> -->

	<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- JAVASCRIPT -->
		<script type="text/javascript" src="D:\MY PROJECTS\WEB\uni_internship_project\public\js\index_js.js"></script>

	<!-- JQUERY -->
		<script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous"></script>
</head>
<body>
	<div id="home_page_nav_bar" class="row">
	
	</div>
</body>
</html>