<!DOCTYPE html>
<html>
<head>
	<title>Kshitij Dhyani</title>
	<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\uni_internship_project\public\css\home_css.css">
	<!-- CSS RESETTER -->
		<link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\uni_internship_project\public\css\css_resetter.css">

	<!-- GRID DEBUGGER -->
		<!-- <link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\uni_internship_project\public\css\grid_debugger.css">
 -->
	<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- JAVASCRIPT -->
		<script type="text/javascript" src="D:\MY PROJECTS\WEB\uni_internship_project\public\js\index_js.js"></script>

	<!-- JQUERY -->
		<script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous"></script>
</head>
<body>
	<div id="home_page_nav_bar" class="row">
		<span id="decorations_of_by_sort_sort">Logout</span>
	</div>
	<div id="box_for_search_bar" class="row">
		<form id="search_box_form">
			<input id="search_box" placeholder="Search" type="text" name="">
		</form>
	</div>
	<div id="box_for_sort_options" class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1">
			
				<span id="decorations_of_by_sort_sort">Sort</span></div>

		<div class="col-lg-1">

			<form action="/home_sort_by_name" method="POST" id="post_selection_for_home_sort_by_name">
				<span id="decorations_of_by_name_sort">By name</span>
			</form>

		</div>
		<div class="col-lg-1">

			<form action="/home_sort_by_year" method="POST" id="post_selection_for_home_sort_by_year">
				<span id="decorations_of_by_year_sort">By year</span>
			</form>

		</div>
		<div class="col-lg-1">

			<form action="/home_sort_by_rating" method="POST" id="post_selection_for_home_sort_by_rating">
				<span id="decorations_of_by_rating_sort">By rating</span>
			</form>

		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
	</div>
</body>
</html>