 <!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 	<!-- JQUERY -->
		<script
		  src="https://code.jquery.com/jquery-3.4.1.js"
		  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		  crossorigin="anonymous"></script>

		<script type="text/javascript">
		 	$(document).ready(function(){
		 		console.log("DOCUMENT IS READY");
			 	$(".div1").click(function(){

			 		console.log("VCVAS")

			 	});
			 });	
		</script>
		<style type="text/css">
			.div1
			{
				border: 2px solid red;
			}
		</style>
 </head>
 <body>
 		<div class="div1">
 			asdhasdjkada
 			das'dakdas
 			<br>
 			<br>
 			<br>
 			<br>

 		</div>
 </body>
 </html>