
/*THIS IS THE BLOCK FOR THE CSS OF GRID*/

.parent {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(10, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.div1 { 
	grid-area: 1 / 1 / 2 / 11; 
	background-color:#FFDE72; 
	max-height: 5vh;
}
.div2 {

 grid-area: 2 / 1 / 11 / 11;
 /*margin-bottom: 100vh;*/
  }

.div3 { 
	grid-area: 4 / 3 / 9 / 9;
	padding: 30px;
	grid-area: 4 / 3 / 9 / 9;
	box-shadow: 0.01px 0.01px 3px 0.3px black;
	border-radius: 10px;
 }


/*THE BLOCK FOR GRID CSS FINISHES HERE*/

#submit-button-box
{
	text-align: center;

}

#form-btn-submit
{
	margin-top: 5px;

}

#message_for_wrong_name
{
	color: #E94D2B;
}

#message_for_wrong_email
{
	color: #E94D2B;
}

#message_for_wrong_password
{
	color: #E94D2B;
}	

.parent
{
	background-color: #252323;
	color:white;
	height: 100vh;
}
body
{
	background-color: #252323;
}
.div1
{
	background-color: #343a40;
}
.div3
{
	box-shadow: 0.1px 0.1px 15px 3px #F0F3F4 ;
}